@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  min-height: 100vh;
} 

.cell {
  border: 1px solid #eee;
  padding: 10px;
  text-align: left;
  width: 100%;
}

.table-header {
  background-color: #c5d5d8;
  font-weight: bold;
  font-size: 1.2rem;
  color: #333;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table-container {
  padding: 0px;
  text-align: left;
}

